<?xml version="1.0"?>
<model>
  <name>iris_multi_1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ArduPilot Multi-UAV</name>
  </author>
  <description>
    Iris UAV configured for multi-vehicle simulation - Instance 1
    Uses ports: 9012/9013 for Gazebo communication
  </description>
</model>